Repository uc-cdis/cloud-automation, pull requests merged in 2021-07, with the labels that each got.

#1647 chore(squid): allow ICPSR repository
  files/squid_whitelist/web_whitelist
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1652 Fix/use quay for selenium
  kube/services/selenium/selenium-hub-deployment.yaml
  kube/services/selenium/selenium-node-chrome-deployment.yaml
Labels: test-portal-homepageTest

#1648 Quay aws es proxy
  doc/csoc-free-commons-steps.md
  doc/data_explorer/README.md
  gen3/lib/bootstrap/templates/cdis-manifest/manifest.json
  kube/services/aws-es-proxy/aws-es-proxy-deploy.yaml
Labels: skip-gen3-helper-tests, test-guppy-guppyTest

#1649 fix(mds): only try to allocate ES if needed
  gen3/bin/kube-setup-metadata.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1654 fix(mariner-creds): Made mariner creds optional so EKS IAM deployment…
  kube/services/mariner/mariner-deploy.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1662 chore(6th-jenkins-env): Add jenkins-new ssh key
  files/authorized_keys/squid_authorized_keys_user
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1659 HP-234 chore(heal): allow PDAPS API connectivity
  files/squid_whitelist/web_whitelist
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1664 chore(ci): Introduce special label to run PR check on separate jenkins-ci-worker pod
  Jenkinsfile
Labels: run-on-jenkins-ci-worker, skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1650 chore(ci): Disable prometheus tests as we are adopting DataDog
  gen3/test/prometheusTest.sh
Labels: test-portal-homepageTest

#1660 chore(k8sReset-debugging): Capture logs from pods in CreateContainerConfigError state
  Jenkinsfile
  gen3/bin/save-failed-pod-logs.sh
Labels: jenkins-niaid, skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1666 Fix typos
  gen3/lib/testData/default/expectedFenceResult.yaml
  gen3/lib/testData/test1.manifest.g3k/expectedFenceResult.yaml
  kube/services/fence/fence-deploy.yaml
  kube/services/revproxy/nginx.conf
Labels: test-google-googleServiceAccountRemovalTest

#1667 chore(ci): Introduce cli commands to mutate guppy config for CI purposes
  gen3/bin/mutate-guppy-config-for-guppy-test.sh
  gen3/bin/mutate-guppy-config-for-pfb-export-test.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1665 feat(mariner-netpolicy): Added netpolicy for mariner
  kube/services/mariner/mariner-deploy.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-google-googleServiceAccountTest

#1668 fix(ci-automation): Use g3kubectl on config map mutation scripts
  gen3/bin/mutate-etl-mapping-config.sh
  gen3/bin/mutate-guppy-config-for-guppy-test.sh
  gen3/bin/mutate-guppy-config-for-pfb-export-test.sh
  gen3/bin/mutate-guppy-config.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1669 fix(ci): Fix Guppy mutation script again
  gen3/bin/mutate-guppy-config-for-guppy-test.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1671 chore(ci-env-pool): Reset CI environments pool every night
  files/scripts/ci-env-pool-reset.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1674 fix(ci): Reset fence-config secret on every k8sReset operation
  gen3/bin/reset.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1672 chore(ci-reliability): Prevent CI infra from being torn down by autoscaler
  kube/services/jenkins-ci-worker/jenkins-worker-ci-deployment.yaml
  kube/services/jenkins-worker/jenkins-worker-deployment.yaml
  kube/services/jenkins/jenkins-deploy.yaml
  kube/services/selenium/selenium-hub-deployment.yaml
  kube/services/selenium/selenium-node-chrome-deployment.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-sheepdogAndPeregrine-submitFileTest

#1675 feat(ETL-slack-alerts): Added slack alerts to regular ETL jobs
  kube/services/jobs/etl-job.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-apis-etlTest

#1680 Add namespace in build name
  Jenkinsfile
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests

#1673 give mariner-deploy access to s3
  kube/services/mariner/mariner-deploy.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-google-googleServiceAccountTest

#1599 task(fix-it-fridays): Speeding up k8s reset
  gen3/bin/klock.sh
  gen3/bin/kube-roll-all.sh
  gen3/bin/reset.sh
  gen3/bin/shutdown.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1682 fix(ci): Mutate manifest-guppy cm properly
  gen3/bin/mutate-guppy-config-for-pfb-export-test.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1685 chore(ci-infra): Tweak specs for ci-worker pod
  kube/services/jenkins-ci-worker/jenkins-worker-ci-deployment.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1686 chore(ci-reliability): Set cluster-autoscaler.kubernetes.io/safe-to-evict correctly
  kube/services/jenkins-ci-worker/jenkins-worker-ci-deployment.yaml
  kube/services/jenkins-worker/jenkins-worker-deployment.yaml
  kube/services/jenkins/jenkins-deploy.yaml
  kube/services/selenium/selenium-hub-deployment.yaml
  kube/services/selenium/selenium-node-chrome-deployment.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1688 fix(ci): Tweak guppy config mutation for bloodpac-like envs
  gen3/bin/mutate-guppy-config-for-guppy-test.sh
  gen3/bin/mutate-guppy-config-for-pfb-export-test.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1689 fix(ci): Guppy test config mutation needs to switch from case to subject
  gen3/bin/mutate-guppy-config-for-guppy-test.sh
Labels: jenkins-brain, skip-awshelper-build-wait, skip-gen3-helper-tests, test-guppy-guppyTest

#1690 fix(ci): Improve regex to mutate etl-mapping
  gen3/bin/mutate-etl-mapping-config.sh
  gen3/bin/mutate-guppy-config-for-pfb-export-test.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1691 fix(pfb-export-test): Process double-quotes correctly for array-config in guppy config
  gen3/bin/mutate-guppy-config-for-pfb-export-test.sh
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-portal-homepageTest

#1687 PXP-8364 Fix/portal csp
  gen3/bin/kube-setup-portal.sh
  kube/services/portal/portal-deploy.yaml
Labels: skip-gen3-helper-tests, test-apis-centralizedAuth, test-apis-dbgapTest

#1692 chore(productivity): Introduce dev bot
  kube/services/devbot/devbot-deploy.yaml
  kube/services/devbot/devbot-service.yaml
  kube/services/revproxy/gen3.nginx.conf/devbot-service.conf
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-google-googleServiceAccountKeyTest

#1694 Fix/add mariner-engine to network-ingress
  kube/services/mariner/mariner-deploy.yaml
Labels: skip-awshelper-build-wait, skip-gen3-helper-tests, test-apis-auditServiceTest
