Repository uc-cdis/cloud-automation, pull requests merged in 2022-12, with the labels that each got.

#2084 feat: add argo-wrapper, cohort-middleware and OHDSI tools to roll all
  gen3/bin/kube-roll-all.sh
Labels: test-portal-dataUploadTest, test-portal-indexingPageTest, test-apis-metadataIngestionTest

#2091 updating the fips AMI
  gen3/lib/aws.sh
  tf_files/aws/eks/sample.tfvars
  tf_files/aws/eks/variables.tf
  tf_files/aws/modules/eks/variables.tf
Labels: skip-gen3-helper-tests

#2103 Add fixes to kube-setup-workvm, and simplify the setup
  .secrets.baseline
  gen3/bin/kube-setup-workvm.sh
  package-lock.json
Labels: skip-gen3-helper-tests

#2093 Update filter metadata compoment in HEAL CEDAR ingestion script
  .gitignore
  files/scripts/healdata/heal-cedar-data-ingest.py
  kube/services/jobs/cedar-ingestion-job.yaml
Labels: test-portal-dataUploadTest, skip-gen3-helper-tests

#2117 increase wait time for K8sReset
  gen3/bin/kube-wait4-pods.sh
Labels: test-portal-homepageTest, skip-gen3-helper-tests
