Repository uc-cdis/cloud-automation, pull requests merged in 2023-11, with the labels that each got.

#2399 Jenkins add "/usr/share/dict/words"
  Docker/jenkins/Jenkins-CI-Worker/Dockerfile
Labels: skip-gen3-helper-tests

#2400 Fix: set ARBORIST_URL using the kube-setup-ohdsi.sh
  gen3/bin/kube-setup-ohdsi.sh
  kube/services/ohdsi-webapi/ohdsi-webapi-deploy.yaml
Labels: skip-gen3-helper-tests, test-sheepdogAndPeregrine-submitFileTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-indexingPageTest, test-portal-coremetadatapageTest, test-coremetadata-getCoremetadataTest

#2411 Add log when gitops-sync initially detects changes
  gen3/bin/gitops.sh
Labels: skip-gen3-helper-tests

#2407 Chore/create cedar client
  gen3/bin/kube-setup-cedar-wrapper.sh
Labels: test-apis-etlTest, skip-gen3-helper-tests, test-coremetadata-getCoremetadataTest
