Repository uc-cdis/cloud-automation, pull requests merged in 2023-06, with the labels that each got.

#2259 Add a grace period for hatchery-reaper
  gen3/bin/jupyter.sh
Labels: skip-gen3-helper-tests, test-sheepdogAndPeregrine-submitFileTest, test-sheepdogAndPeregrine-submitAndQueryNodesTest, test-portal-coremetadatapageTest, test-coremetadata-getCoremetadataTest

#2266 Update stata license secret name.
  kube/services/jobs/distribute-licenses-job.yaml
Labels: test-apis-etlTest, skip-gen3-helper-tests

#2274 fix: don't run unnecessary cm sync if rolling all
  gen3/bin/kube-setup-metadata.sh
Labels: skip-gen3-helper-tests
